.App {
  text-align: center;
}
.App h1{
  color: goldenrod;
}


ul.whole_lists img{
  width: 30px;
}
ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form div{
  margin: 10px;
}
form div input {
  padding: 10px;
}

form button{
  padding: 10px 20px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}





